.main {
    background-image: url("./Images/twinkle_background_2.gif") ;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center;  */
}
